/* 


	dlgedit.rc (emx+gcc) 
	Dialog Editor Version 0.02

	1994,95 Giovanni Iachello
	This is freeware software. You can use or modify it as you wish,
	provided that the part of code that I wrote remains freeware.
	Freeware means that the source code must be available on request 
	to anyone.
	You must also include this notice in all files derived from this
	file.


*/

#include <os2.h>
#include "pmstdres.h"
#include "dlgedit.h"

ICON ID_DLGEDIT dlgedit.ico
POINTER PMPTR_1 dlgedit1.ptr

MENU IDM_POPUPMENU
BEGIN
	MENUITEM "~Properties...", IDM_PU_PROP
	MENUITEM "~Flags...", IDM_PU_FLAGS
	MENUITEM "~Delete", IDM_PU_DELETE
END

MENU ID_DLGEDIT
BEGIN
	SUBMENU "~File", PMIDM_FILE
	BEGIN
		MENUITEM "~New...", PMIDM_FILENEW
		MENUITEM "~Open...", PMIDM_FILEOPEN
		MENUITEM SEPARATOR
		MENUITEM "~Save...", PMIDM_FILESAVE
		MENUITEM "Save ~as...", PMIDM_FILESAVEAS
		MENUITEM "Compile...", IDM_COMPILE
		MENUITEM SEPARATOR
		MENUITEM "~Exit", PMIDM_FILEEXIT
	END

    SUBMENU "~New Control", IDM_NEWCTRL
	BEGIN
		MENUITEM "~Static Text...", IDM_STATICTEXT
		MENUITEM "~Entry Field...", IDM_ENTRYFIELD
		MENUITEM "~List Box...", IDM_LISTBOX
		MENUITEM "~Combo Box...", IDM_COMBOBOX
		MENUITEM "~Button...", IDM_BUTTON
		MENUITEM "S~pin Button...", IDM_SPINBUTTON
		MENUITEM "Sl~ider...", IDM_SLIDER
		MENUITEM "~Valueset...", IDM_VALUESET 	
		MENUITEM "C~heck Box...", IDM_CHECKBOX
		MENUITEM "~Radio Button...", IDM_RADIOBUTTON
		MENUITEM "~Three State...", IDM_3STATE
		MENUITEM "~Group Box...", IDM_GROUPBOX
	END

    SUBMENU "~Preferences", IDM_PREF
	BEGIN
/*	    MENUITEM "F~onts...", IDM_FONTS */
	    MENUITEM "~Size...", IDM_SIZE
	    MENUITEM "~Text...", IDM_TEXT
	    MENUITEM "~Flags...", IDM_FLAGS
	    MENUITEM "~Control List...", IDM_CTRLLIST
	END

	SUBMENU "~Help", PMIDM_HELP
	BEGIN
		MENUITEM "~Product information...", PMIDM_HELPABOUT
	END
END

ACCELTABLE ID_DLGEDIT
BEGIN
  VK_F3,  PMIDM_FILEEXIT,      VIRTUALKEY
END

DLGTEMPLATE PMDLG_ABOUT 
{
	DIALOG "About Dialog Editor", PMDLG_ABOUT, 22, 24, 225, 104, 
	    WS_VISIBLE, FCF_SYSMENU | FCF_TITLEBAR
	{
		DEFPUSHBUTTON "OK", DID_OK, 80, 8, 51, 14
/*		PRESPARAMS PP_FONTNAMESIZE "12.Helv" */
		CONTROL "Written by Giovanni Iachello", -1, 14, 52, 190, 12, WC_STATIC, SS_TEXT | DT_CENTER | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
/*		PRESPARAMS PP_FONTNAMESIZE "12.Helv" */
		CONTROL "Copyright (c) 1995.  All Rights Reserved.", -1, 12, 40, 196, 10, WC_STATIC, SS_TEXT | DT_CENTER | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
/*		PRESPARAMS PP_FONTNAMESIZE "12.Helv" */
		CONTROL "Source Code for Non-Profit Use Only", -1, 12, 27, 196, 10, WC_STATIC, SS_TEXT | DT_CENTER | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
/*		PRESPARAMS PP_FONTNAMESIZE "12.Helv" */
		CONTROL "Dialog Editor V 0.0", -1, 10, 79, 194, 10, WC_STATIC, SS_TEXT | DT_CENTER | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
	}
}

DLGTEMPLATE DLG_CTRLLIST
{
	DIALOG "Dialog Window Controls List", DLG_CTRLLIST,22, 24, 240,180,
	    WS_VISIBLE, FCF_SYSMENU | FCF_TITLEBAR
	{
		DEFPUSHBUTTON "~Hide", DID_OK, 13, 6, 48, 16
		DEFPUSHBUTTON "~Delete", DCTRLLIST_PB_DELETE, 66, 6, 48, 16
		DEFPUSHBUTTON "~Flags", DCTRLLIST_PB_FLAGS, 119, 6, 48, 16
		DEFPUSHBUTTON "~Properties", DCTRLLIST_PB_PROP, 172, 6, 48, 16
		LISTBOX DCTRLLIST_LB_CTRLLIST, 14, 30, 205, 150, LS_HORZSCROLL
	}
}


DLGTEMPLATE DLG_SIZE 
{
   DIALOG  "Dialog Window Size", DLG_SIZE, 112, 59, 150, 80,
       WS_VISIBLE, FCF_SYSMENU | FCF_TITLEBAR
   {
      LTEXT "Horizontal Size", -1, 10, 66, 130, 10, DT_WORDBREAK
      ENTRYFIELD "", DSIZE_EF_SX, 12, 58, 127, 8, ES_MARGIN
      LTEXT "Vertical Size", -1, 10, 40, 130, 10, DT_WORDBREAK
      ENTRYFIELD "", DSIZE_EF_SY, 12, 30, 127, 8, ES_MARGIN
      DEFPUSHBUTTON "Ok", DID_OK, 20, 10, 40, 13
      PUSHBUTTON "Cancel", DID_CANCEL, 90, 10, 40, 13
   }
}

DLGTEMPLATE DLG_TEXT 
{
   DIALOG  "Dialog Window Text", DLG_SIZE, 112, 59, 300, 80,
       WS_VISIBLE, FCF_SYSMENU | FCF_TITLEBAR
   {
      LTEXT "Dialog Label", -1, 10, 66, 130, 10, DT_WORDBREAK
      ENTRYFIELD "", DTEXT_EF_LB, 12, 58, 276, 8, ES_MARGIN
      LTEXT "Dialog Title", -1, 10, 40, 130, 10, DT_WORDBREAK
      ENTRYFIELD "", DTEXT_EF_TI, 12, 30, 276, 8, ES_MARGIN
      DEFPUSHBUTTON "Ok", DID_OK, 20, 10, 40, 13
      PUSHBUTTON "Cancel", DID_CANCEL, 90, 10, 40, 13
   }
}

DLGTEMPLATE DLG_CTRLPROP
{
   DIALOG  "Control Properties", DLG_SIZE, 112, 59, 300, 120,
       WS_VISIBLE, FCF_SYSMENU | FCF_TITLEBAR
   {
      LTEXT "Horizontal Position", -1, 10, 60, 130, 10, DT_WORDBREAK
      ENTRYFIELD "", DCP_EF_X, 12, 52, 126, 8, ES_MARGIN
      LTEXT "Vertical Position", -1, 10, 38, 130, 10, DT_WORDBREAK
      ENTRYFIELD "", DCP_EF_Y, 12, 30, 126, 8, ES_MARGIN
      LTEXT "Horizontal Size", -1, 160, 60, 130, 10, DT_WORDBREAK
      ENTRYFIELD "", DCP_EF_CX, 162, 52, 126, 8, ES_MARGIN
      LTEXT "Vertical Size", -1, 160, 38, 130, 10, DT_WORDBREAK
      ENTRYFIELD "", DCP_EF_CY, 162, 30, 126, 8, ES_MARGIN

      LTEXT "Control Text", -1, 10, 104, 280, 10, DT_WORDBREAK
      ENTRYFIELD "", DCP_EF_TEXT, 12, 96, 276, 8, ES_MARGIN
      LTEXT "Control Label", -1, 10, 82, 280, 10, DT_WORDBREAK
      ENTRYFIELD "", DCP_EF_LABEL, 12, 74, 276, 8, ES_MARGIN

      DEFPUSHBUTTON "Ok", DID_OK, 20, 10, 40, 13
      PUSHBUTTON "Cancel", DID_CANCEL, 240, 10, 40, 13
   }
}

DLGTEMPLATE DLG_FLAGS
{
   DIALOG  "Dialog Window Flags", DLG_SIZE, 20, 59, 250, 200,
       WS_VISIBLE, FCF_SYSMENU | FCF_TITLEBAR
   {
      AUTOCHECKBOX "Title Bar", DFLAGS_CB_FCF_TITLEBAR, 				12, 180, 100, 8
      AUTOCHECKBOX "System Menu", DFLAGS_CB_FCF_SYSMENU, 				12, 168, 100, 8
      AUTOCHECKBOX "Menu", DFLAGS_CB_FCF_MENU, 							12, 156, 100, 8
      AUTOCHECKBOX "Size Border", DFLAGS_CB_FCF_SIZEBORDER, 			12, 144, 100, 8
      AUTOCHECKBOX "Minimize Button", DFLAGS_CB_FCF_MINBUTTON, 			12, 132, 100, 8
      AUTOCHECKBOX "Maximize Button", DFLAGS_CB_FCF_MAXBUTTON, 			12, 120, 100, 8
      AUTOCHECKBOX "Vertical Scrollbar", DFLAGS_CB_FCF_VERTSCROLL, 		12, 108, 100, 8
      AUTOCHECKBOX "Horizontal Scrollbar", DFLAGS_CB_FCF_HORZSCROLL, 	12, 96, 100, 8
      AUTOCHECKBOX "Dialog Border", DFLAGS_CB_FCF_DLGBORDER, 			12, 84, 100, 8
      AUTOCHECKBOX "Border", DFLAGS_CB_FCF_BORDER, 						12, 72, 100, 8
      AUTOCHECKBOX "Shell Position", DFLAGS_CB_FCF_SHELLPOSITION, 		12, 60, 100, 8
      AUTOCHECKBOX "Task List", DFLAGS_CB_FCF_TASKLIST, 				12, 48, 100, 8
      AUTOCHECKBOX "No Byte Align", DFLAGS_CB_FCF_NOBYTEALIGN, 			12, 36, 100, 8

      AUTOCHECKBOX "No Move With Owner", DFLAGS_CB_FCF_NOMOVEWITHOWNER,	122, 180, 100, 8
      AUTOCHECKBOX "Icon", DFLAGS_CB_FCF_ICON, 							122, 168, 100, 8
      AUTOCHECKBOX "Accelerator Table", DFLAGS_CB_FCF_ACCELTABLE,		122, 156, 100, 8
      AUTOCHECKBOX "System Modal", DFLAGS_CB_FCF_SYSMODAL,	 			122, 144, 100, 8
      AUTOCHECKBOX "Screen Align", DFLAGS_CB_FCF_SCREENALIGN,			122, 132, 100, 8
      AUTOCHECKBOX "Mouse Align", DFLAGS_CB_FCF_MOUSEALIGN,				122, 120, 100, 8
      AUTOCHECKBOX "Palette Normal", DFLAGS_CB_FCF_PALETTE_NORMAL,		122, 108, 100, 8
      AUTOCHECKBOX "Palette Help", DFLAGS_CB_FCF_PALETTE_HELP,			122, 96, 100, 8
      AUTOCHECKBOX "Palette PopUpOdd", DFLAGS_CB_FCF_PALETTE_POPUPODD,	122, 84, 100, 8
      AUTOCHECKBOX "Palette PopUpEven", DFLAGS_CB_FCF_PALETTE_POPUPEVEN,122, 72, 100, 8
      AUTOCHECKBOX "Hide Button", DFLAGS_CB_FCF_HIDEBUTTON,		 		122, 60, 100, 8
      AUTOCHECKBOX "Hide Max", DFLAGS_CB_FCF_HIDEMAX,	 				122, 48, 100, 8
      AUTOCHECKBOX "Auto Icon", DFLAGS_CB_FCF_AUTOICON,		 			122, 36, 100, 8
      DEFPUSHBUTTON "Ok", DID_OK, 20, 10, 40, 13
      PUSHBUTTON "Cancel", DID_CANCEL, 190, 10, 40, 13
   }
}

DLGTEMPLATE DLG_CTRLFLAGS
{
   DIALOG  "Dialog Window Flags", DLG_SIZE, 20, 59, 250, 220,
       WS_VISIBLE, FCF_SYSMENU | FCF_TITLEBAR
   {
      AUTOCHECKBOX "WS_VISIBLE", 	DCF_WS_VISIBLE, 		12, 204, 100, 8
      AUTOCHECKBOX "WS_DISABLED", 	DCF_WS_DISABLED, 		12, 192, 100, 8
      AUTOCHECKBOX "WS_CLIPCHILDREN", DCF_WS_CLIPCHILDREN,	12, 180, 100, 8
      AUTOCHECKBOX "WS_CLIPSIBLINGS", DCF_WS_CLIPSIBLINGS, 	12, 168, 100, 8
      AUTOCHECKBOX "WS_PARENTCLIP", DCF_WS_PARENTCLIP, 		12, 156, 100, 8
      AUTOCHECKBOX "WS_SAVEBITS", 	DCF_WS_SAVEBITS, 		12, 144, 100, 8
      AUTOCHECKBOX "WS_SYNCPAINT", 	DCF_WS_SYNCPAINT, 		12, 132, 100, 8
      AUTOCHECKBOX "WS_MINIMIZED", 	DCF_WS_MINIMIZED, 		12, 120, 100, 8
      AUTOCHECKBOX "WS_MAXIMIZED", 	DCF_WS_MAXIMIZED, 		12, 108, 100, 8
      AUTOCHECKBOX "WS_ANIMATE", 	DCF_WS_ANIMATE, 		12, 96, 100, 8
      AUTOCHECKBOX "WS_GROUP", 		DCF_WS_GROUP, 			12, 84, 100, 8
      AUTOCHECKBOX "WS_TABSTOP", 	DCF_WS_TABSTOP, 		12, 72, 100, 8
      AUTOCHECKBOX "WS_MULTISELECT", DCF_WS_MULTISELECT, 	12, 60, 100, 8

      AUTOCHECKBOX "", DCF_1,	122, 204, 112, 8 
      AUTOCHECKBOX "", DCF_2, 	122, 192, 112, 8
      AUTOCHECKBOX "", DCF_3,	122, 180, 112, 8
      AUTOCHECKBOX "", DCF_4, 	122, 168, 112, 8
      AUTOCHECKBOX "", DCF_5,	122, 156, 112, 8
      AUTOCHECKBOX "", DCF_6,	122, 144, 112, 8
      AUTOCHECKBOX "", DCF_7,	122, 132, 112, 8
      AUTOCHECKBOX "", DCF_8,	122, 120, 112, 8
      AUTOCHECKBOX "", DCF_9,	122, 108, 112, 8
      AUTOCHECKBOX "", DCF_A,	122, 96, 112, 8
      AUTOCHECKBOX "", DCF_B,	122, 84, 112, 8
      AUTOCHECKBOX "", DCF_C, 	122, 72, 112, 8
      AUTOCHECKBOX "", DCF_D,	122, 60, 112, 8
      AUTOCHECKBOX "CC", DCF_E,	122, 48, 112, 8
      AUTOCHECKBOX "DD", DCF_F,	122, 36, 112, 8, 0 
      DEFPUSHBUTTON "Ok", DID_OK, 20, 10, 40, 13
      PUSHBUTTON "Cancel", DID_CANCEL, 190, 10, 40, 13
   }
}


